<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="monerokon23-logo.png" style="max-width: 100%" alt="MoneroKon" />
        {% if site.github.is_project_page %}
        <h3>Location</h3>
        <a href="https://www.paralelnipolis.cz">Paralelní Polis</a>/<a href="https://www.lafabrika.cz">La Fabrika</a><br>
        475/43, Dělnická, 170 00 Praha 7, Czechia<br><br>
        <h3>Date</h3>
        23rd-25th June 2023<br><br>
        <a href="xmpp:monerokon@muc.xmpp.is?join"><img class="social" src="icons8-xmpp-32-bk.png"></a> <a href="https://matrix.to/#/#monero-events:monero.social"><img class="social" src="icons8-matrix-32-bk.png" width="32"></a> <a href="https://signal.group/#CjQKIIOaS7k70kHViXG3SaTmFgyQwt0q3vHLWnmOzV5uVpDYEhAB-VuyOgIVzrpsTLu1UOS8"><img class="social" src="icons8-signal-app-32-bk.png" width="32"></a> <a href="https://nitter.net/MoneroKon"><img class="social" src="icons8-twitter-32-bk.png" width="32"></a> <a href="https://t.me/monerokon"><img class="social" src="icons8-telegram-32-bk.png"></a>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
